.env
!gradle/wrapper/gradle-wrapper.jar
jar-plugins/*
run-assets.lock
app/webApp/src/wasmJsMain/resources/mc_bindings.js
app/webApp/src/wasmJsMain/resources/main.css
server/src/main/resources/admin.js
server/src/main/resources/admin.css
server/src/main/resources/map.js
server/src/main/resources/map.css
server/src/main/resources/docs.js
app/webApp/src/wasmJsMain/kotlin/org/micoli/micraft/WasmBuildTrigger.kt
app/webApp/ts-src/buildConfig.ts
app/webApp/src/wasmJsMain/resources/models/
app/webApp/ts-src/node_modules/
app/webApp/ts-src/storybook-static/
.kotlin
.gradle
build
server/build
core/build
app/desktopApp/build
app/shared/build
app/webApp/build
TODO.md
plans
data/world/default_world/players/
resources/blockbench-export/
tmp/
server/data/world/
data/world/
.last-build
